.meme-card{
    /* border: solid black 2px; */
    padding: 10px;
    width: 50%;
    margin: 2rem auto
}
.meme-card > img{
    width: 30rem;
    height: 30rem;
}
.meme-card > .top {
    position: relative;
    color: white;
    text-align: center;
    font-size: 30px;
    margin-bottom: -50px;
    font-family: fantasy;

}
.meme-card > .bottom{
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: -50px;
    font-family: fantasy;

}

.delete-meme{

    background-color: black;
    padding: 0.5rem;
    color: white ;
     text-align: center;
    font-weight: bolder;
    margin-top: 75px
}


form{
    border: solid black 2px;
    margin: 10px;
    padding: 10px;
}


input{
    margin: 10px;
    padding: 2px;
    width: 50%;
}
